<button class="text-button" id="open-hidden-navbar">
	<i id="openNav" class="fas fa-bars fa-rotate-90"></i>
</button>
<button class="text-button" id="close-hidden-navbar">
	<i id="closeNav" class="fas fa-times fa-rotate-90"></i>
</button>
<nav class="navbar content-center" id="hidden-navbar">
    <div class="section-side-content">
			<img src="img/logodark.png" id="logodark-img">
			<span class="site-lan text-dark text-bg-light">EN</span>
<!-- 					<span class="site-lan text-dark">FR</span>
			<span class="site-lan text-dark">ES</span> -->
			<div id="hidden-navbar-socials">
				<button class="text-button"><i class="fab fa-instagram header-1"></i></button>
				<button class="text-button"><i class="fab fa-facebook header-1"></i></button>
			</div>
			<article class="content-center" id="hidden-navbar-content">
				<ul class="text-center" id="hidden-navbar-list">
					<li><button class="header-1 text-button button-slash button-slash-light">About</button></li>
					<li><button class="header-1 text-button button-slash button-slash-regular">Mission</button></li>
					<li><button class="header-1 text-button button-slash button-slash-light"><i class="far fa-images"></i>Gallery</button></li>
					<li><button class="header-1 text-button button-slash button-slash-regular">Schedule</button></li>
				</ul>
			</article>
    </div>
</nav>